body {
  margin: 0%;
  padding: 0%;
}

header {
  width: 100%;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}

.Lawe {
  line-height: 0.2;
}

.Lawe h3 {
  color: #b99b5f;
}

.home ul {
  display: flex;
  list-style: none;
}

.home ul li {
  margin-right: 30px;
  padding-bottom: 10px;
}

.home ul li:nth-child(1) {
  color: #b99b5f;
}

.image {
  background-image: url(https://static.vecteezy.com/system/resources/previews/013/424/649/large_2x/the-statue-of-justice-lady-justice-or-justitia-the-roman-goddess-of-justice-statue-on-black-wooden-wall-concept-of-judicial-trial-courtroom-process-and-lawyers-work-photo.JPG);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  position: relative;
}

.image h1 {
  color: #b99b5f;
  font-size: 50px;
}

.Welcome {
  padding-top: 100px;
  margin-left: 200px;
}

.button {
  background-color: #b99b5f;
  color: white;
  border: none;
  height: 30px;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  background-image: url(https://static.vecteezy.com/system/resources/previews/013/424/649/large_2x/the-statue-of-justice-lady-justice-or-justitia-the-roman-goddess-of-justice-statue-on-black-wooden-wall-concept-of-judicial-trial-courtroom-process-and-lawyers-work-photo.JPG);
  width: 70%;
  height: 80px;
  margin-left: 200px;
  padding-left: 20px;
  line-height: 0.2;
  color: white;
  position: absolute;
  bottom: -5%;
  left: 0%;
  right: 0%;
}

.sub-nav h3 {
  color: #b99b5f;
  font-size: 20px;
}

.sub-nav button {
  margin-right: 50px;
  margin-top: 20px;
}

.promise {
  display: flex;
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;
}

.promise h4 {
  color: #b99b5f;
}

.promise img {
  height: 400px;
}

.Symbols {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 87);
  padding-left: 200px;
  padding-right: 200px;

}

.Symbols span {
  color: #b99b5f;
  font-size: 80px;
  font-weight: 900;

}

.Symbols p {
  color: #b99b5f;
  font-size: 15px;
}

.Symbols h2 {
  margin: 0%;
  color: #fff;
  font-size: 35px;
  padding-top: 40px;
  padding-left: 15px;
}

.para {
  line-height: 0.5;
  margin-left: 20px;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.parent {
  padding-left: 200px;
  padding-right: 200px;
}

.child {
  text-align: center;
  padding-top: 30px;
}

.child h1 {
  color: #b99b5f;
  font-size: 40px;
}

.child1 h1 {
  color: #b99b5f !important;
  font-size: 40px;
}


.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.fire {
  height: 200px;
  width: 300px;
  background-color: rgb(17, 17, 87);
  color: white;
  text-align: center;
  padding: 20px;
}

.fire h1 {
  color: #fff !important;
}

.fire span {
  font-size: 80px;
  font-weight: 600;
}

.fire:nth-child(2) {
  background-color: #b99b5f;
}

.client {
  display: flex;
  padding: 20px;
}

.parent:nth-child(2) {
  background-color: rgb(17, 17, 87);
  margin-top: 100px;
  color: #b99b5f;
}

.parent span {
  color: #fff;
}

.client img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.business {
  padding: 10px;
  line-height: 0.3;
}

.logo {
  display: flex;
  height: 80px;
  background-color: #b99b5f;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  color: white;
  font-style: bold;
}

.logo span {
  font-size: 40px;
  font-weight: 60;
  color: white;
}

.ipsum {
  display: flex;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  justify-content: center;
  margin-top: 30px;

}

.gallery {
  height: 300px;
  width: 250px;
  margin-right: 10px;
}

.photo span {
  color: #b99b5f
}

.card {
  line-height: 0.2;
}

.advise {
  background-color: rgb(17, 17, 87);
  text-align: center;
  padding: 100px 200px;
  margin-top: 200px;
  color: #fff;
  font-size: 20px;
}

.advise span {
  color: #b99b5f;
  font-weight: 700;
}

.parent {
  text-align: center;
}

.parent h1 {
  color: rgb(17, 17, 87);
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

}

.photo-card img {
  height: 200px;
  width: 300px;
  object-fit: cover;

}

.img1 {
  display: block;
}

.pic img {
  height: 30px;
  width: 30px;
}

.pic {
  background-color: rgb(244, 242, 240);
  padding-bottom: 20px;
}

.pic span {
  color: #b99b5f;
  font-size: 20px;
}

.hrcolor {
  border-top: 1px solid #b99b5f;
}

.lorem {
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 17, 87);
  height: 80px;
  line-height: 0.2;
  color: white;
  padding: 10px 200px;
  margin-top: 200px;
}

.lorem h3 {
  color: #b99b5f;
  font-size: 20px;
}

.lorem button {
  margin-top: 20px;
}

.consult {
  display: flex;
  background-color: rgb(14, 14, 50);
  height: 200px;
  color: #fff;
  padding: 100px 200px;
  gap: 10%;
}

.lawyer {
  display: block;
  width: 20%
}

.consult h2 {
  color: #b99b5f;
  font-size: 20px;
}

@media only screen and (max-width:500px) {

  .intro {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .Lawe h3 {
    color: #b99b5f;
  }

  .home {
    display: none;

  }

  .image {
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/424/649/large_2x/the-statue-of-justice-lady-justice-or-justitia-the-roman-goddess-of-justice-statue-on-black-wooden-wall-concept-of-judicial-trial-courtroom-process-and-lawyers-work-photo.JPG);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative;
  }

  .image h1 {
    color: #b99b5f;
    font-size: 20px;
  }

  .Welcome {
    padding-top: 20px;
    margin-left: 20px;
  }

  .button {
    background-color: #b99b5f;
    color: white;
    border: none;
    height: 30px;
  }

  .sub-nav {
    display: flex;
    justify-content: space-around;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/424/649/large_2x/the-statue-of-justice-lady-justice-or-justitia-the-roman-goddess-of-justice-statue-on-black-wooden-wall-concept-of-judicial-trial-courtroom-process-and-lawyers-work-photo.JPG);
    width: 70%;
    height: 80px;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 2;
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: -5%;
    left: 15%;
    right: 0%;
  }

  .sub-nav h3 {
    color: #b99b5f;
    font-size: 10px;
  }

  .sub-nav button {
    margin-right: 10px;
    margin-top: 20px;
  }

  .promise {
    display: block;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
  }

  .promise h4 {
    color: #b99b5f;
    z-index: 1;
  }

  .promise img {
    height: 200px;
    position: absolute;
    z-index: -10;
    right: 0%;

  }

  .Symbols {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(17, 17, 87);
    padding-left: 0px;
    padding-right: 0px;
  }

  .Symbols span {
    color: #b99b5f;
    font-size: 40px;
    font-weight: 300;

  }

  .Symbols p {
    color: #b99b5f;
    font-size: 15px;
  }

  .Symbols h2 {
    margin: 0%;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 5px;
  }

  .para {
    line-height: 1;
    margin-left: 10px;
  }

  .icon {
    display: flex;
    justify-content: space-between;
  }

  .parent {
    padding-left: 0px;
    padding-right: 0px;
  }

  .child {
    text-align: center;
    padding-top: 10px;
  }

  .child h1 {
    color: #b99b5f;
    font-size: 20px;
  }

  .child1 h1 {
    color: #b99b5f !important;
    font-size: 20px;
  }


  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  .fire {
    height: 200px;
    width: 300px;
    background-color: rgb(17, 17, 87);
    color: white;
    text-align: center;
    padding: 20px;
  }

  .fire h1 {
    color: #fff !important;
  }

  .fire span {
    font-size: 40px;
    font-weight: 400;
  }

  .fire:nth-child(2) {
    background-color: #b99b5f;
  }

  .client {
    display: flex;
    padding: 0px;
  }

  .parent:nth-child(2) {
    background-color: rgb(17, 17, 87);
    margin-top: 100px;
    color: #b99b5f;
  }

  .parent span {
    color: #fff;
  }

  .client img {
    border-radius: 50%;
    width: 100%;
    height: 100px;
    background-color: #fff;
  }

  .business {
    padding: 10px;
    line-height: 1;
  }

  .logo {
    display: flex;
    height: 80px;
    background-color: #b99b5f;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
  }

  .logo span {
    font-size: 40px;
    font-weight: 60;
    color: white;
  }

  .ipsum {
    display: flex;
  }

  .photo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
  }

  .gallery {
    height: 200px;
    width: 250px;
    margin-top: 20px;
    padding-left: 120px;
  }

  .photo span {
    color: #b99b5f
  }

  .card {
    line-height: 0.5;
    text-align: center;
  }

  .advise {
    background-color: rgb(17, 17, 87);
    text-align: center;
    padding: 0px 0px;
    margin-top: 0px;
    color: #fff;
    font-size: 10px;
  }

  .advise span {
    color: #b99b5f;
    font-weight: 70;
    font-size: 10px;
  }

  .parent {
    text-align: center;
  }

  .parent h1 {
    color: rgb(17, 17, 87);
  }

  .photo-card img {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .photo-card img {
    display: block;
    padding-left: 100px;
  }

  .pic img {
    height: 30px;
    width: 30px;
  }

  .pic {
    background-color: rgb(244, 242, 240);
    padding-bottom: 10px;
    margin-left: 100px;
  }

  .pic span {
    color: #b99b5f;
    font-size: 10px;
  }

  .hrcolor {
    border-top: 1px solid #b99b5f;
  }

  .lorem h3 {
    color: #b99b5f;
    font-size: 10px;
  }

  .lorem button {
    margin-right: 10px;
    margin-top: 20px;
  }

  .lorem {
    display: flex;
    justify-content: space-around;
    background-color: rgb(17, 17, 87);
    height: 50px;
    line-height: 1;
    color: white;
    padding: 10px 10px;
    margin-top: 20px;
  }

  .consult {
    display: flex;
    background-color: rgb(14, 14, 50);
    height: 100px;
    color: #fff;
    font-size: 5px;
    padding: 10px 20px;
    gap: 10%;
  }

  .lawyer {
    display: block;
    width: 15%
  }

  .consult h2 {
    color: #b99b5f;
    font-size: 10px;
  }
}